####################################################
#Configure file for Edge Tester                    #
#put all configurations after the colon            #
####################################################
Where is the location of pxrmt?
pxrmt: pxrmt

Where is the location of pxbp?
pxbp: pxbp

Where is raxml?
raxml: raxmlHPC

What is the name of the outfile?
outfile: CarnivoryStats

Which species make up the bipartition/clade of interest on the first tree in the tree set (Comma separated)?
Species: MJM1652,Dino,NepSFB,Neam,DrobinSFB
#Species: DrolusSFB,MJM2940,NepSFB,Neam
#Species: RuprSFB,MJM3360,WPYJ,Retr
#Species: alligator,caiman

How many topologies are you testing?
Topologies: 2

What is the name of the supermatrix file?
Supermatrix: CarnivorySupermatrix.fa

What is the name of the parts file?
PartsFile: CarnivorySupermatrix.model

What is the name of the tree set file?
Set: CarnivoryTrees.tre

How many threads should be used?
Threads: 3

Is this a test (True or False)?
Test: False

Should this be run as verbose, good for trouble shooting, making big files and answering reviewer comments (True or False)?
Verbose: True

What should the name of the output folder be?
Folder: CarnivoryInfo

Hidden mode?
secret: False

